body{
	padding: 20px 0 30px;
	max-width: 1450px;
	background-image: url(../Images/background.png);
}
.topdiv{
	background-color: #009999;
	padding: 10px 30px;
	color: white;
}
.topdiv-content{
	width: 100%;
}
.language{
	display: inline-block;
	margin: 0 680px 0 0;
	vertical-align: middle;
}
.log-in{
	display: inline-block;
	vertical-align: middle;
}
form{
	display: inline-block;
}
label{
	display: inline-block;
}
input{
	display: inline-block;
}
.log-in p{
	display: inline-block;
}
header{
	max-width: 100%;
	padding: 10px 30px;
}
.logo{
	display: inline-block;
	width: 100px;
	margin-right: 425px;
}
nav{
	display: inline-block;
	vertical-align: top;
}
header li{
	display: inline-block;
	margin-right: 40px;
	background-color: white;
	border: dotted 2px;
	font-size: 20px;
}
header ul{
	display: inline-block;
}
.banner-image{
	width: 100%;
}
.portfolio{
	margin: 20px auto;
}
.portfolio div{
	background-color: #006666;
	display: inline-block;
	font-size: 30px;
	height: 200px;
	width: 300px;
	text-align: center;
	margin: 0 80px;
	padding: 60px 50px;
	color: white;
}
footer{
	margin: 20px auto;
	width: 100%;
	background-color: #003333;
	padding: 50px 30px;
}
footer img{
	padding: 0 36px 0 36px;
	height: 31px;
	object-fit: contain;
	color: white;
}
footer li:first-child{
	border-right: 1px solid white;
}
footer li{
	height: 31px;
	display: inline-block;
}
footer ul{
	display: inline-block;
	margin-right: 400px;
}
iframe{
	display: inline-block;
	vertical-align: top;
	height: 200px;
}
